<template>
  <ComponentPreview :code="code" :title="title">
    <template #component>
      <Listener :callback="updateCode">
        <div
          id="accordion-example"
          :class="['accordion', sizeClass, appearance]"
        >
          <div v-for="index in total" :key="index" class="accordion-section">
            <div class="accordion-section-header">
              <a
                class="accordion-section-header-title collapsed"
                data-toggle="collapse"
                :href="`#accordion-sample-${index}`"
                :data-parent="grouped ? '#accordion-example' : null"
                aria-expanded="false"
              >
                <ChevronRightSVG />

                Accounting (BSc)
                <span
                  v-if="supplement"
                  :class="[
                    'accordion-section-header-supplement',
                    supplementAlignemnt
                  ]"
                >
                  N400
                </span>
              </a>
            </div>
            <div
              :id="`accordion-sample-${index}`"
              :class="
                `accordion-section-body ${index === 0 ? 'in' : ''} collapse`
              "
              style=""
            >
              <div class="accordion-inner">
                <div v-if="contentType === 'Rich'" class="row">
                  <div class="col-md-8">
                    <figure class="image pull-right">
                      <a
                        href="//www.cardiff.ac.uk/clearing/vacancies#image-popover-1"
                        data-toggle="modal"
                      >
                        <img
                          class=""
                          alt="Image alt text "
                          src="//placehold.it/270x150"
                        >
                      </a>
                    </figure>
                    <div
                      id="image-popover-1"
                      class="modal modal-image hide fade"
                      tabindex="-1"
                      role="dialog"
                      aria-hidden="true"
                    >
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-hidden="true"
                      >
                        <span class="icon-close icon-small" />
                      </button>
                      <div class="modal-body">
                        <figure class="image">
                          <img
                            src="//placehold.it/270x150"
                            alt="Image alt text"
                          >
                        </figure>
                      </div>
                    </div>
                    <p>
                      You will benefit from teaching of the highest standard
                      delivered by leading international experts, whether
                      pioneering
                    </p>
                  </div>
                  <div class="col-md-4">
                    <div class="box box-inverse">
                      <header class="box-header">
                        <h1 class="box-title">
                          About this course
                        </h1>
                      </header>
                      <div class="box-body">
                        <ul class="list">
                          <li>
                            100 % satisfied with the quality of the course
                            (UNISTATS)
                          </li>
                        </ul>
                      </div>
                      <footer class="box-footer">
                        <a
                          class="btn btn-success btn-block btn-large"
                          href="http://www.cardiff.ac.uk/study/undergraduate/courses/course/accounting-bsc"
                        >Full course details</a>
                      </footer>
                    </div>
                  </div>
                </div>
                <p v-else>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci veniam, voluptas quam facilis necessitatibus
                  voluptate eum blanditiis similique assumenda. Tenetur ad modi,
                  repellendus asperiores alias impedit explicabo unde in ut!
                </p>
              </div>
            </div>
          </div>
        </div>
      </Listener>
    </template>
    <template #options>
      <Tabs>
        <template #nav>
          <NavTabs>
            <NavItem
              v-model="tab"
              type="tab"
              to="#sizing"
              text="Sizing"
              :active="tab === 'Sizing'"
            />
            <NavItem
              v-model="tab"
              type="tab"
              to="#appearances-options"
              text="Appearances"
              :active="tab === 'Appearances'"
            />
          </NavTabs>
        </template>
        <template #content>
          <TabContent>
            <TabPane id="appearances-options" :active="tab === 'Appearances'">
              <div class="form-group">
                <label class="form-label" for="appearance">Appearances</label>
                <select id="appearance" v-model="appearance" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in appearances"
                    :key="`${item.text}`"
                    :value="item.class"
                    v-text="item.text"
                  />
                </select>
              </div>
              <div class="form-group">
                <label
                  class="form-label"
                  for="content-type"
                >Content type</label>
                <select id="content-type" v-model="contentType" class="w-100">
                  <option
                    v-for="item in contentTypes"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>

              <fieldset>
                <div class="form-group">
                  <legend class="sr-only">
                    Options
                  </legend>
                </div>
                <div class="form-group">
                  <div v-if="size === 'Large'" class="checkbox-option">
                    <input
                      id="Supplement"
                      v-model="supplement"
                      type="checkbox"
                      aria-required="false"
                      aria-invalid="false"
                    >
                    <label class="checkbox-option-label" for="Supplement">
                      Supplement text
                    </label>
                  </div>
                  <label v-if="supplement" class="form-label" for="alignment">
                    Supplement alignment
                  </label>
                  <select
                    v-if="supplement"
                    id="alignment"
                    v-model="supplementAlignemnt"
                    class="w-100"
                  >
                    <option
                      v-for="item in alignments"
                      :key="`${item.text}`"
                      :value="item.class"
                      v-text="item.text"
                    />
                  </select>
                </div>
              </fieldset>
            </TabPane>
            <TabPane id="sizing" :active="tab === 'Sizing'">
              <fieldset>
                <div class="form-group">
                  <legend class="sr-only">
                    Options
                  </legend>
                </div>
                <div class="form-group">
                  <label class="form-label" for="border-size">
                    Sizing
                  </label>
                  <select id="border-size" v-model="size" class="w-100">
                    <option
                      v-for="item in sizes"
                      :key="`${item}`"
                      :value="item"
                      v-text="item"
                    />
                  </select>
                </div>
                <div class="form-group">
                  <div class="checkbox-option">
                    <input
                      id="grouped"
                      v-model="grouped"
                      type="checkbox"
                      aria-required="false"
                      aria-invalid="false"
                    >
                    <label class="checkbox-option-label" for="grouped">
                      Grouped
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label" for="total">
                    Total
                  </label>
                  <select id="total" v-model="total" class="w-100">
                    <option
                      v-for="item in 10"
                      :key="`${item}`"
                      :value="item"
                      v-text="item"
                    />
                  </select>
                </div>
              </fieldset>
            </TabPane>
          </TabContent>
        </template>
      </Tabs>
    </template>
  </ComponentPreview>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import ChevronRightSVG from '@/svgs/chevron-right.svg?inline'
import { CodeMixin } from '~/mixins/Code'
export default Vue.extend({
  name: 'AccordionSizingExample',
  components: { ChevronRightSVG },
  mixins: [CodeMixin],
  props: {
    alignments: {
      required: true,
      type: Array as PropType<{ text: string; class: string }[]>
    },
    sizes: {
      required: true,
      type: Array as PropType<string[]>
    },
    contentTypes: {
      required: true,
      type: Array as PropType<string[]>
    },
    appearances: {
      required: true,
      type: Array as PropType<{ text: string; class: string }[]>
    },
    title: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      size: 'Standard',
      supplement: false,
      grouped: false,
      supplementAlignemnt: 'float-right ml-auto',
      contentType: 'Basic',
      appearance: '',
      tab: 'Appearances',
      total: 1
    }
  },
  computed: {
    sizeClass (): string {
      switch (this.size) {
        case 'Standard':
          return ''
        case 'Small':
          return 'accordion--sm'
        case 'Large':
          return 'accordion-large'
        default:
          return ''
      }
    }
  }
})
</script>
