<template>
  <Tabs>
    <template #nav>
      <NavTabs>
        <NavItem to="#new-background" active :type="'tab'" text="Background" />
        <NavItem to="#new-text" :type="'tab'" text="Text" />
        <NavItem to="#new-border" :type="'tab'" text="Border" />
      </NavTabs>
    </template>
    <template #content>
      <TabContent>
        <TabPane id="new-background" active>
          <CodeBlock
            :file-name="'src/sass/globals/utility/background.sass'"
            :code="`.bg-alto\n  background-color: #dddddd !important`"
            :lang="'scss'"
          />
        </TabPane>
        <TabPane
          id="new-text"
        >
          <CodeBlock
            :file-name="'src/sass/globals/utility/colour.sass'"
            :code="'.text-alto\n  color: #dddddd !important'"
            :lang="'scss'"
          />
        </TabPane>
        <TabPane id="new-border">
          <CodeBlock
            :file-name="'src/sass/globals/utility/border.sass'"
            :code="'.border-alto\n  border-color: #dddddd !important'"
            :lang="'scss'"
          />
        </TabPane>
      </TabContent>
    </template>
  </Tabs>
</template>
