<template>
  <ComponentPreview :code="code">
    <template #component>
      <Listener :callback="updateCode">
        <Badge
          :colour="colour"
          :pill="pill"
          :to="link ? '#' : ''"
          :outline="outline"
          :large="size === 'large'"
        >
          This is a
          <template v-if="pill">
            pill
          </template>badge
        </Badge>
      </Listener>
    </template>
    <template #options>
      <fieldset>
        <div class="form-group">
          <legend class="sr-only">
            Options
          </legend>
          <div class="checkbox-option">
            <input
              id="badge-pill"
              v-model="pill"
              type="checkbox"
              value="true"
              aria-required="false"
              aria-invalid="false"
            >
            <label class="checkbox-option-label" for="badge-pill">
              Pill
            </label>
          </div>
          <legend class="sr-only">
            Options
          </legend>
          <div class="checkbox-option">
            <input
              id="badge-link"
              v-model="link"
              type="checkbox"
              value="true"
              aria-required="false"
              aria-invalid="false"
            >
            <label class="checkbox-option-label" for="badge-link">
              As link
            </label>
          </div>
          <div class="checkbox-option">
            <input
              id="badge-outline"
              v-model="outline"
              type="checkbox"
              value="true"
              aria-required="false"
              aria-invalid="false"
            >
            <label class="checkbox-option-label" for="badge-outline">
              Outline
            </label>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <label class="form-label" for="color">Colour</label>
        <select id="color" v-model="colour" class="w-100">
          <option value="" selected>
            <template>
              Default (none)
            </template>
          </option>
          <option
            v-for="item in colours"
            :key="item"
            :value="item.toLowerCase()"
            :disabled="
              outline &&
                (item === 'Light' ||
                  item === 'Dark' ||
                  item === 'Warning' ||
                  item === 'Primary')
            "
            v-text="item"
          />
        </select>
      </div>
      <div class="form-group">
        <label class="form-label" for="color">Sizing</label>
        <select id="color" v-model="size" class="w-100">
          <option value="" selected>
            <template>
              Normal
            </template>
          </option>
          <option
            v-for="item in sizes"
            :key="item"
            :value="item.toLowerCase()"
            v-text="item"
          />
        </select>
      </div>
      <transition name="fade">
        <Notice
          v-if="
            outline === false &&
              (colour === 'danger' ||
                colour === 'light' ||
                colour === 'dark' ||
                colour === 'primary' ||
                colour === 'secondary')
          "
        >
          This colour has a known issue where the appearance is not correct.
          Please raise a bug report if these colours are required.
        </Notice>
      </transition>
    </template>
  </ComponentPreview>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import { CodeMixin } from '@/mixins/Code'

export default Vue.extend({
  mixins: [CodeMixin],
  props: {
    colours: {
      required: true,
      type: Array as PropType<string[]>,
      default: []
    },
    sizes: {
      required: true,
      type: Array as PropType<string[]>,
      default: []
    },
    colour: {
      required: true,
      type: String,
      default: 'success'
    }
  },
  data () {
    return {
      link: false,
      pill: false,
      outline: false,
      size: ''
    }
  }
})
</script>
