<template>
  <div>
    <component
      :is="item.tag || item"
      v-for="item in headings"
      :key="item.tag || item"
      :class="item.class"
    >
      {{ label(item.tag || item) }}
      <Badge colour="success">
        New
      </Badge>
    </component>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
  props: {
    headings: {
      required: true,
      type: Array as PropType<string[] | { tag: string; class: string }[]>,
      default: []
    }
  },
  methods: {
    label (tag: string): string {
      return tag.includes('h')
        ? `Heading ${tag.replace('h', '')} example`
        : `${tag} example`
    }
  }
})
</script>
