<template>
  <ComponentPreview :code="code">
    <template #component>
      <Listener :callback="updateCode">
        <Badge
          :colour="colour"
          :class="[
            radiusSize !== '' ? '' : borderRadius,
            radiusSize,
            colour,
            subtractive ? `${border}-0` : computedBorder,
            'py-30 bg-wild-sand text-center'
          ]"
        >
          <span>Lorem ipsum dolor, sit amet consectetur </span>
        </Badge>
      </Listener>
    </template>
    <template #options>
      <Tabs>
        <template #nav>
          <NavTabs>
            <NavItem type="tab" to="#border" text="Borders" active />
            <NavItem type="tab" to="#radius" text="Radius" />
          </NavTabs>
        </template>
        <template #content>
          <TabContent>
            <TabPane id="border" active>
              <fieldset>
                <div class="form-group">
                  <legend class="sr-only">
                    Options
                  </legend>
                </div>
                <div class="form-group">
                  <label class="form-label" for="border-size">
                    Border Sizing
                  </label>
                  <select id="border-size" v-model="borderSize" class="w-100">
                    <option value="">
                      Default
                    </option>
                    <option
                      v-for="item in sizes"
                      :key="`${item}`"
                      :value="item"
                      v-text="item"
                    />
                  </select>
                </div>
                <div class="checkbox-option">
                  <input
                    id="subtractive"
                    v-model="subtractive"
                    type="checkbox"
                    :disabled="borderSize === 'lg'"
                    aria-required="false"
                    aria-invalid="false"
                  >
                  <label class="checkbox-option-label" for="subtractive">
                    Subtract border
                  </label>
                </div>
              </fieldset>
              <div class="form-group">
                <label class="form-label" for="border-type">Border type</label>
                <select id="border-type" v-model="border" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in borders"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="border-colour">Colour</label>
                <select id="border-colour" v-model="colour" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in colours"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
            </TabPane>
            <TabPane id="radius">
              <div class="form-group">
                <label
                  class="form-label"
                  for="border-radius"
                >Border radius type</label>
                <select id="border-radius" v-model="borderRadius" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in radius"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="sizing">Sizing</label>
                <select
                  id="sizing"
                  v-model="radiusSize"
                  class="w-100"
                  :disabled="borderRadius !== 'rounded'"
                >
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in roundedSizes"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
            </TabPane>
          </TabContent>
        </template>
      </Tabs>
    </template>
  </ComponentPreview>
</template>
<script lang="ts">
import Vue from 'vue'
import { CodeMixin } from '~/mixins/Code'

export default Vue.extend({
  name: 'BorderExample',
  mixins: [CodeMixin],
  props: {
    radius: {
      required: true,
      type: Array
    },
    sizes: {
      required: true,
      type: Array
    },
    roundedSizes: {
      required: true,
      type: Array
    },
    colours: {
      required: true,
      type: Array
    },
    borders: {
      required: true,
      type: Array
    }
  },
  data () {
    return {
      borderRadius: '',
      border: 'border',
      colour: '',
      subtractive: false,
      borderSize: '',
      radiusSize: ''
    }
  },
  computed: {
    computedBorder () {
      let borderClass = 'border'

      if (this.borderSize === 'lg') {
        borderClass += '-lg'
      }

      if (this.border !== 'border') {
        borderClass += `-${this.border}`
      }

      return borderClass
    }
  },
  watch: {
    borderRadius (val: string) {
      if (val !== 'rounded') {
        this.radiusSize = ''
      }
    },
    borderSize (val: string) {
      if (val !== 'lg') {
        this.subtractive = false
      }
    }
  }
})
</script>
