<template>
  <ComponentPreview :code="code">
    <template #component>
      <Listener :callback="updateCode">
        <Breadcrumb :items="items" />
      </Listener>
    </template>
    <template #options>
      <h3 class="text-md">
        Remove or item from breadcrumb
      </h3>
      <BtnGroup style="color: inherit;">
        <Btn
          colour="info"
          outline
          tag="button"
          :disabled="items.length === 1"
          @click.prevent="items.length > 1 ? removeItem() : null"
        >
          Remove
        </Btn>
        <Btn colour="info" outline tag="button" @click.prevent="addItem">
          Add
        </Btn>
      </BtnGroup>
    </template>
  </ComponentPreview>
</template>

<script lang="ts">
import Vue from 'vue'
import { CodeMixin } from '~/mixins/Code'

export default Vue.extend({
  mixins: [CodeMixin],
  data () {
    return {
      items: [
        { url: '#', text: 'Home' },
        { url: '#', text: 'Item 1' }
      ] as { url: string; text: string }[]
    }
  },

  methods: {
    addItem () {
      this.items.push({
        url: '#',
        text: `Item ${this.items.length}`
      })
    },
    removeItem () {
      this.items.pop()
    }
  }
})
</script>
