<template>
  <ComponentPreview :code="code" :title="title">
    <template #component>
      <Listener :callback="updateCode">
        <Btn
          v-if="!grouped && !toggleable"
          :colour="colour"
          :size="size"
          :outline="outline"
          to="#"
          :loading="loading"
          :disabled="disabled"
          :focused="focused"
          :active="active"
        >
          <template v-if="withIcon && iconLeft">
            <CloseSVG v-if="icon === 'Close'" />
            <ChevronLeftSVG v-if="icon === 'Chevron'" />
          </template>
          This is a button
          <template v-if="withIcon && !iconLeft">
            <CloseSVG v-if="icon === 'Close'" class="mr-0 ml-5" />
            <ChevronRightSVG v-if="icon === 'Chevron'" class="mr-0 ml-5" />
          </template>
        </Btn>
        <BtnGroup v-if="grouped" :with-headings="groupedHeadings" to="#">
          <template v-if="!groupedHeadings">
            <Btn
              :colour="colour"
              :size="size"
              :outline="outline"
              to="#"
              :loading="loading"
              :disabled="disabled"
              :focused="focused"
              :active="active"
            >
              <template v-if="withIcon && iconLeft">
                <CloseSVG v-if="icon === 'Close'" />
                <ChevronLeftSVG v-if="icon === 'Chevron'" />
              </template>
              This is a button
              <template v-if="withIcon && !iconLeft">
                <CloseSVG v-if="icon === 'Close'" class="mr-0 ml-5" />
                <ChevronRightSVG v-if="icon === 'Chevron'" class="mr-0 ml-5" />
              </template>
            </Btn>
            <Btn
              :colour="colour"
              :size="size"
              :outline="outline"
              to="#"
              :loading="loading"
              :disabled="disabled"
              :focused="focused"
              :active="active"
            >
              <template v-if="withIcon && iconLeft">
                <CloseSVG v-if="icon === 'Close'" />
                <ChevronLeftSVG v-if="icon === 'Chevron'" />
              </template>
              This is a button
              <template v-if="withIcon && !iconLeft">
                <CloseSVG v-if="icon === 'Close'" class="mr-0 ml-5" />
                <ChevronRightSVG v-if="icon === 'Chevron'" class="mr-0 ml-5" />
              </template>
            </Btn>
          </template>
          <template v-else>
            <div class="mr-2 d-flex flex-column">
              <p class="btn-group-title bold">
                Level of study
              </p>
              <div id="levels" class="btn-group" data-toggle="buttons-radio">
                <Btn :colour="colour" :size="size" :outline="outline" to="#">
                  Undergraduate
                </Btn>

                <Btn :colour="colour" :size="size" :outline="outline" to="#">
                  Postgraduate
                </Btn>
              </div>
            </div>
            <div class="mr-2 d-flex flex-column">
              <p class="btn-group-title bold">
                Nationality
              </p>
              <div id="levels" class="btn-group" data-toggle="buttons-radio">
                <Btn :colour="colour" :size="size" :outline="outline" to="#">
                  UK or EU
                </Btn>

                <Btn :colour="colour" :size="size" :outline="outline" to="#">
                  Outside EU
                </Btn>
              </div>
            </div>
          </template>
        </BtnGroup>
        <div
          v-if="toggleable && !formBtn"
          class="btn-group-toggle"
          data-toggle="buttons"
        >
          <Btn
            ref="button"
            :colour="colour"
            :size="size"
            :outline="outline"
            :tag="'button'"
            :loading="loading"
            :disabled="disabled"
            :focused="focused"
            :active="active"
            data-toggle="button"
            aria-pressed="false"
            autocomplete="off"
          >
            <input type="checkbox" checked autocomplete="off"> Checked
          </Btn>
        </div>
        <div v-if="formBtn" class="btn-group-toggle" data-toggle="buttons">
          <Btn
            v-for="n in numberOfBtns"
            :key="`${n}-button`"
            :colour="colour"
            :size="size"
            :outline="outline"
            :tag="'label'"
            :loading="loading"
            :disabled="disabled"
            :focused="focused"
            :active="active"
          >
            <input
              :type="formBtnMultiple ? 'checkbox' : 'radio'"
              checked
              autocomplete="off"
            >
            Checked
          </Btn>
        </div>
        <transition name="fade">
          <Notice v-if="toggleable" class="mt-20">
            Styling for these states has not been finalised.
          </Notice>
        </transition>
      </Listener>
    </template>

    <template #options>
      <Tabs>
        <template #nav>
          <NavTabs>
            <NavItem
              v-model="tab"
              type="tab"
              to="#appearances-options"
              text="Appearances"
              :active="tab === 'Appearances'"
            />
            <NavItem
              v-model="tab"
              type="tab"
              to="#structure"
              text="Structure"
              :active="tab === 'Structure'"
            />
          </NavTabs>
        </template>
        <template #content>
          <TabContent>
            <TabPane id="appearances-options" :active="tab === 'Appearances'">
              <fieldset>
                <legend class="mb-15 text-md form-label">
                  Toggle states
                </legend>
                <div class="checkbox-option">
                  <input
                    id="button-toggleable"
                    v-model="toggleable"
                    type="checkbox"
                    value="true"
                  >
                  <label class="checkbox-option-label" for="button-toggleable">
                    Toggleable button
                  </label>
                </div>
                <transition name="fade">
                  <div v-if="toggleable" class="checkbox-option">
                    <input
                      id="button-formBtn"
                      v-model="formBtn"
                      type="checkbox"
                      value="true"
                    >
                    <label class="checkbox-option-label" for="button-formBtn">
                      Input toggleable
                    </label>
                  </div>
                </transition>
                <Transition name="fade">
                  <div v-if="formBtn" class="checkbox-option">
                    <input
                      id="button-toggle-multi"
                      v-model="formBtnMultiple"
                      type="checkbox"
                      value="true"
                    >
                    <label
                      class="checkbox-option-label"
                      for="button-toggle-multi"
                    >
                      {{ formBtnMultiple ? 'Checkbox' : 'Radio' }} toggle
                    </label>
                  </div>
                </Transition>
              </fieldset>
              <fieldset class="mt-15">
                <legend class="mb-15 text-md form-label">
                  States
                </legend>
                <div class="checkbox-option">
                  <input
                    id="button-Loading"
                    v-model="loading"
                    type="checkbox"
                    value="true"
                  >
                  <label class="checkbox-option-label" for="button-Loading">
                    Loading
                  </label>
                </div>
                <div class="checkbox-option">
                  <input
                    id="button-active"
                    v-model="active"
                    type="checkbox"
                    value="true"
                  >
                  <label class="checkbox-option-label" for="button-active">
                    Active
                  </label>
                </div>
                <div class="checkbox-option">
                  <input
                    id="button-disabled"
                    v-model="disabled"
                    type="checkbox"
                    value="true"
                  >
                  <label class="checkbox-option-label" for="button-disabled">
                    Disabled
                  </label>
                </div>
                <div class="checkbox-option">
                  <input
                    id="button-Focused"
                    v-model="focused"
                    type="checkbox"
                    value="true"
                    :disabled="grouped"
                  >
                  <label class="checkbox-option-label" for="button-Focused">
                    Focused
                  </label>
                </div>
              </fieldset>
              <fieldset class="mt-15">
                <legend class="mb-15 text-md form-label">
                  Design
                </legend>
                <div class="checkbox-option">
                  <input
                    id="button-outline"
                    v-model="outline"
                    :disabled="grouped && !groupedHeadings"
                    type="checkbox"
                    value="true"
                  >
                  <label class="checkbox-option-label" for="button-outline">
                    Outline
                  </label>
                </div>

                <div class="checkbox-option">
                  <input
                    id="button-withicon"
                    v-model="withIcon"
                    :disabled="groupedHeadings"
                    type="checkbox"
                    value="true"
                  >
                  <label class="checkbox-option-label" for="button-withicon">
                    With icon
                  </label>
                </div>
                <Transition name="fade">
                  <div v-if="withIcon" class="checkbox-option">
                    <input
                      id="button-position"
                      v-model="iconLeft"
                      type="checkbox"
                      value="true"
                    >
                    <label class="checkbox-option-label" for="button-position">
                      Left or right positioned
                    </label>
                  </div>
                </Transition>
                <div class="form-group">
                  <label class="form-label" for="color">Colour</label>
                  <select
                    id="color"
                    v-model="colour"
                    class="w-100"
                    :disabled="grouped && !outline"
                  >
                    <option value="" selected :disabled="formBtn">
                      Default
                    </option>
                    <option
                      v-for="item in colours"
                      :key="item"
                      :value="item.toLowerCase()"
                      v-text="item"
                    />
                  </select>
                </div>
                <transition name="fade">
                  <Alert
                    v-if="
                      (colour === 'inverse' ||
                        colour === 'warning' ||
                        colour === 'danger') &&
                        outline
                    "
                    colour="alert-secondary-info"
                  >
                    This variation should not be used on a white background due
                    to contrast ratio.
                  </Alert>
                </transition>

                <Transition name="fade">
                  <div v-if="withIcon" class="form-group">
                    <label
                      :key="'label'"
                      class="form-label"
                      for="color"
                    >Icons</label>

                    <select
                      id="color"
                      :key="'input'"
                      v-model="icon"
                      class="w-100"
                    >
                      <option
                        v-for="(svg, _, index) in svgs"
                        :key="index"
                        :value="svg"
                        v-text="svg"
                      />
                    </select>
                  </div>
                </Transition>
              </fieldset>
            </TabPane>
            <TabPane id="structure" :active="tab === 'Structure'">
              <fieldset>
                <div class="form-group">
                  <legend class="mb-15 text-md sr-only">
                    Structure
                  </legend>

                  <div class="form-group">
                    <label class="form-label" for="size">Size</label>
                    <select id="size" v-model="size" class="w-100">
                      <option
                        v-for="item in sizes"
                        :key="item.value"
                        :value="item.class"
                        v-text="item.text"
                      />
                    </select>
                  </div>
                  <div class="checkbox-option">
                    <input
                      id="button-grouped"
                      v-model="grouped"
                      type="checkbox"
                      value="true"
                    >
                    <label class="checkbox-option-label" for="button-grouped">
                      Grouped
                    </label>
                  </div>
                  <Transition name="fade">
                    <div v-if="grouped" class="checkbox-option">
                      <input
                        id="button-grouped-headings"
                        v-model="groupedHeadings"
                        type="checkbox"
                        value="true"
                      >
                      <label
                        class="checkbox-option-label"
                        for="button-grouped-headings"
                      >
                        With headings
                      </label>
                    </div>
                  </Transition>
                </div>
              </fieldset>
            </TabPane>
          </TabContent>
        </template>
      </Tabs>
    </template>
  </ComponentPreview>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import { CodeMixin } from '@/mixins/Code'

import CloseSVG from '@/svgs/close.svg?inline'
import ChevronLeftSVG from '@/svgs/chevron-left.svg?inline'
import ChevronRightSVG from '@/svgs/chevron-right.svg?inline'

export default Vue.extend({
  components: {
    CloseSVG,
    ChevronLeftSVG,
    ChevronRightSVG
  },
  mixins: [CodeMixin],
  props: {
    colours: {
      required: true,
      type: Array as PropType<string[]>,
      default: []
    },
    sizes: {
      required: true,
      type: Array as PropType<{ value: string; class: string }[]>,
      default: []
    },
    title: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      tab: 'Appearances',
      colour: '',
      size: '',
      withIcon: false,
      active: false,
      loading: false,
      disabled: false,
      focused: false,
      toggleable: false,
      formBtn: false,
      formBtnMultiple: false,
      iconLeft: true,
      outline: false,
      grouped: false,
      groupedHeadings: false,
      icon: 'Chevron',
      svgs: ['Close', 'Chevron']
    }
  },
  computed: {
    numberOfBtns (): number {
      return this.toggleable && !this.formBtnMultiple ? 1 : 3
    }
  },
  watch: {
    grouped (value: boolean) {
      this.$nextTick((): void => {
        this.outline = value
        if (value) {
          this.toggleable = false
          this.formBtn = false
          this.formBtnMultiple = false
        }
      })
    },
    formBtn () {
      if (this.colour === '') {
        this.$nextTick((): void => {
          this.colour = 'primary'
        })
      }
    },
    toggleable () {
      if (this.colour === '') {
        this.$nextTick((): void => {
          this.colour = 'primary'
        })
      }
    }
  }
})
</script>
