<template>
  <div>
    <ColourName v-model="colour" :conflicts="conflicts" />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { ColourItem, Colour } from '@/index'

import { throttle } from '@/helpers/timing'

export default Vue.extend({
  props: {
    greyscale: {
      type: Array as PropType<ColourItem[]>,
      required: true
    },
    supplementary: {
      type: Array as PropType<ColourItem[]>,
      required: true
    },
    general: {
      type: Array as PropType<ColourItem[]>,
      required: true
    }
  },
  data () {
    return {
      conflicts: [] as ColourItem[],
      colour: {
        value: 'ffffff',
        name: 'White',
        exactMatch: true,
        variableName: ''
      } as Colour
    }
  },
  computed: {
    allColours (): ColourItem[] {
      return this.greyscale.concat(this.supplementary, this.general)
    }
  },
  watch: {
    colour () {
      throttle(this.checkForExisting)
    }
  },
  methods: {
    checkForExisting () {
      this.conflicts = []

      this.allColours.forEach(
        ({ name, value }: { name: string; value: string }) => {
          if (
            name === this.colour.variableName ||
            value === `#${this.colour.value.replace('#', '')}`
          ) {
            this.conflicts.push({ name, value })
          }
        }
      )
    }
  }
})
</script>
