<template>
  <section id="headings" class="accordion">
    <template v-for="(heading, index) in headings">
      <component
        :is="heading.tag"
        :key="`${heading.tag}-${heading.class}-title`"
        :data-target="`#${heading.tag}-${heading.class}-meta`"
        :class="heading.class"
        data-toggle="collapse"
        type="button"
        v-text="heading.name"
      />
      <div
        :id="`${heading.tag}-${heading.class}-meta`"
        :key="`${heading.tag}-${heading.class}-content`"
        :data-parent="grouped ? '#headings' : null"
        :class="['collapse', expandAll ? 'show' : index === 0 ? 'show' : null]"
      >
        <div class="bg-wild-sand px-15 py-15 mb-15">
          <Row id="">
            <Column md="4">
              <span class="text-muted d-block">Font family</span>
              <span class="d-block" v-text="heading.fontFamily.primary" />
            </Column>
            <Column md="4">
              <span class="text-muted d-block">Size</span>
              <span v-text="`${heading.size.rem}rem`" /> /
              <span v-text="`${heading.size.px}px`" />
            </Column>
            <Column md="4">
              <span class="text-muted d-block">Line-height</span>
              <span v-text="`${heading.lineHeight.rem}rem`" /> /
              <span v-text="`${heading.lineHeight.px}px`" />
            </Column>
          </Row>
        </div>
      </div>
    </template>
    <template v-for="tag in tags">
      <component
        :is="tag.tag !== undefined ? tag.tag : tag"
        v-if="showComputed"
        :key="`${tag.tag !== undefined ? tag.tag : tag}-${tag.class}-computed`"
        :ref="`currentTag${tag.tag !== undefined ? tag.tag : tag}`"
        :class="['d-none']"
        v-text="'heading'"
      />
    </template>
  </section>
</template>
  </section>
</template>
<script lang="ts">
import Vue from 'vue';
import { getUnits } from '@/helpers/units';

interface TagOption {
  tag: string;
  class: string;
}
export default Vue.extend({
  data () {
    return {
      showComputed: true,
      grouped: true,
      expandAll: false,
      tags: [
        'h1',
        'h2',
        'h3',
        'h4',
        'h5',
        { tag: 'p', class: 'lead' },
        'h6',
        'p'
      ] as string[] | TagOption[],
      headings: [] as {
        tag: string;
        name: string;
        fontFamily: {
          raw: string;
          primary: string;
        };
        class: null | string;
        size: { rem: number; px: number };
        lineHeight: { rem: number; px: number };
      }[]
    }
  },
  mounted () {
    const fontFamilyMaps: { [index: string]: string } = {
      franklin_gothic_fs_bookRg: 'Franklin Gothic Book',
      franklin_gothic_fs_medregular: 'Franklin Gothic Book Med',
      franklin_gothic_fs_demi: 'Franklin Gothic Book Demi',
      franklin_gothic_fs_bookitalic: 'Franklin Gothic Book Italic'
    }

    this.tags.forEach((tag: string | TagOption) => {
      const tagName =
        (tag as TagOption).tag === undefined
          ? (tag as string)
          : (tag as TagOption).tag;

      const computedStyles = getComputedStyle(
        (this.$refs[`currentTag${tagName}`] as any[])[0]
      )

      const fontSizeUnits = getUnits(computedStyles.fontSize);
      const lineHeightUnits = getUnits(computedStyles.lineHeight);

      this.headings.push({
        name: `${tagName
          .replace('h', 'Heading ')
          .replace('p', 'Paragraph')
          .replace('strong', 'Bold')
          .replace(/^i$/, 'Italics')} ${
          (tag as TagOption).class !== undefined ? (tag as TagOption).class : ''
        }`,
        tag: tagName,
        class:
          (tag as TagOption).class !== undefined
            ? (tag as TagOption).class
            : null,
        fontFamily: {
          raw: computedStyles.fontFamily,
          primary:
            fontFamilyMaps[computedStyles.fontFamily.split(',')[0]] ||
            computedStyles.fontFamily.split(',')[0]
        },
        size: {
          px: fontSizeUnits.raw,
          rem: fontSizeUnits.rem.raw
        },
        lineHeight: {
          px: lineHeightUnits.raw,
          rem: lineHeightUnits.rem.raw
        }
      })
    })
    this.showComputed = false
  }
})
</script>
