<template>
  <tabs>
    <template #nav>
      <div class="d-inline-block">
        <nav-tabs>
          <nav-item type="tab" active to="#inline-mark" text="Mark" />
          <nav-item type="tab" to="#inline-italics" text="Italics" />
          <nav-item type="tab" to="#inline-small" text="Small" />
          <nav-item type="tab" to="#inline-bold" text="Bold" />
        </nav-tabs>
      </div>
    </template>
    <template #content>
      <tab-content>
        <tab-pane id="inline-mark" active>
          <p contenteditable v-text="mark">
            Lorem ipsum dolor sit
            <mark>amet consectetur adipisicing elit</mark>?
          </p>
          <CodeBlock
            :code="
              `<p>Lorem ipsum dolor sit <mark>amet consectetur adipisicing elit</mark></p>`
            "
            lang="html"
          />
        </tab-pane>
        <tab-pane id="inline-italics">
          <p>Lorem ipsum dolor sit <i>amet consectetur adipisicing elit</i>?</p>
          <CodeBlock
            :code="
              `<p>Lorem ipsum dolor sit <i>amet consectetur adipisicing elit</i>?</p>`
            "
            lang="html"
          />
        </tab-pane>
        <tab-pane id="inline-small">
          <p contenteditable v-html="small">
            Lorem ipsum dolor sit
            <small>amet consectetur adipisicing elit</small>?
          </p>
          <CodeBlock
            :code="
              `<p>Lorem ipsum dolor sit <small>amet consectetur adipisicing elit</small>?</p>`
            "
            lang="html"
          />
        </tab-pane>
        <tab-pane id="inline-bold">
          <p>
            Lorem ipsum dolor sit
            <strong>amet consectetur adipisicing elit</strong>?
          </p>
          <CodeBlock
            :code="
              `<p>Lorem ipsum dolor sit <strong>amet consectetur adipisicing elit</strong>?</p>`
            "
            lang="html"
          />
        </tab-pane>
      </tab-content>
    </template>
  </tabs>
</template>
