<template>
  <section class="bg-wild-sand py-20 px-20 mb-20">
    <header>
      <h1 class="text-lg">
        Ratio calculator
      </h1>
    </header>
    <div class="">
      <form action="" class="form-inline mb-0" @submit.prevent>
        <Row>
          <Column md="8">
            <Row class="mb-20">
              <Column md="6">
                <Input
                  v-model="ratioWidth"
                  class="mt-0"
                  type="number"
                  :placeholder="'Ratio width'"
                  step="0.001"
                />
              </Column>

              <Column md="6">
                <Input
                  v-model="ratioHeight"
                  class="mt-0"
                  type="number"
                  :placeholder="'Ratio height'"
                  step="0.001"
                />
              </Column>
            </Row>
            <Row>
              <Column md="6">
                <Input
                  v-model="width"
                  class="mt-0"
                  type="number"
                  :placeholder="'Width'"
                  step="0.001"
                />
              </Column>

              <Column md="6">
                <Input
                  v-model="height"
                  class="mt-0"
                  type="number"
                  :placeholder="'Height'"
                  step="0.001"
                />
              </Column>
            </Row>
          </Column>
          <Column class="bg-white mt-10 py-10 rounded-lg" md="12">
            <CodeBlock
              file-name="src/globals/utilities/ratio.sass"
              :code="code"
              lang="scss"
              class="w-100 mb-0 rounded-lg"
            />
          </Column>
          <Column md="12">
            <transition name="fade">
              <Alert
                v-if="conflicts !== undefined && conflicts.length > 0"
                :block="true"
                colour="error"
                class="mt-20 mb-0"
              >
                <template v-if="conflicts.length > 1">
                  <p>
                    This ratio already exists, please use one of the following
                  </p>
                </template>
                <template v-else>
                  <p>This ratio already exists, please use:</p>
                </template>
                <List class="list-no-disc">
                  <li
                    v-for="conflict in conflicts"
                    :key="conflict.name"
                    v-text="conflict.name"
                  />
                </List>
              </Alert>
            </transition>
          </Column>
        </Row>
      </form>
    </div>
  </section>
</template>
<script lang="ts">
import Vue from 'vue'
import { Ratio } from '@/index'
import { throttle } from '../../helpers/timing'

export default Vue.extend({
  data () {
    return {
      hasResults: false,
      ratioWidth: null,
      ratioHeight: null,
      width: 1080,
      internalHeight: 0,
      ratios: [{ name: '.ratio-16-9', value: '56.65%' }],
      conflicts: [] as { name: string; value: string }[]
    }
  },
  computed: {
    height: {
      get (): number {
        return this.width * parseFloat(this.percentage)
      },
      set (val: number) {
        this.internalHeight = val
      }
    },
    percentage (): string {
      return (
        Math.abs(this.ratioHeight || 0) / Math.abs(this.ratioWidth || 0)
      ).toPrecision(4)
    },
    ratio (): Ratio {
      return {
        name: `.ratio-${Math.round(this.ratioWidth || 0)}-${Math.round(
          this.ratioHeight || 0
        )}`,
        value: `${this.percentage}%`
      }
    },
    code (): string {
      return `${this.ratio.name}\n  padding-top: ${this.ratio.value} !important`
    }
  },
  watch: {
    code () {
      throttle(this.checkForExisting)
    }
  },
  methods: {
    checkForExisting () {
      this.conflicts = []

      this.ratios.forEach(
        ({ name, value }: { name: string; value: string }) => {
          if (name === this.ratio.name || value === this.ratio.value) {
            this.conflicts.push({ name, value })
          }
        }
      )
    }
  }
})
</script>
