<template>
  <ComponentPreview id="utilities" :code="code">
    <template #component>
      <Listener :callback="updateCode">
        <p
          v-if="wrapping === ''"
          :class="[
            alignmentWithBreakpoint,
            transform,
            font,
            wordBreak ? 'text-break' : ''
          ]"
        >
          <span
            v-if="wordBreak"
          >abcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabcabc</span>
          <span v-else>Lorem ipsum DdoLor, sit amet consDectetur </span>
        </p>
        <div
          v-else-if="wrapping !== 'text-truncate'"
          :class="[
            'badge badge-primary',
            wrapping,
            font,
            alignmentWithBreakpoint,
            transform
          ]"
          style="width: 50px"
        >
          <template v-if="wrapping === 'text-wrap'">
            this should wrap
          </template>
          <template v-else>
            this should not wrap
          </template>
        </div>
        <span
          v-else
          :class="[
            'd-block',
            wrapping,
            alignmentWithBreakpoint,
            font,
            transform
          ]"
          style="width: 150px"
        >
          Lorem ipsum dolor, sit amet consecte
        </span>
      </Listener>
    </template>
    <template #options>
      <Tabs>
        <template #nav>
          <NavTabs>
            <NavItem type="tab" to="#font" text="Font" active />
            <NavItem type="tab" to="#wrapping" text="Wrapping" />
            <NavItem type="tab" to="#transformation" text="Transformtion" />
          </NavTabs>
        </template>
        <template #content>
          <TabContent>
            <TabPane id="font" active>
              <div class="form-group">
                <label class="form-label" for="font">Font family</label>
                <select id="font" v-model="font" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in fonts"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="alignment">Alignment</label>
                <select
                  id="alignment"
                  v-model="alignment"
                  class="w-100"
                  :disabled="wrapping !== ''"
                >
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in alignments"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
              <div class="form-group">
                <label
                  class="form-label"
                  for="alignment-breakpoints"
                >Alignment on breakpoints</label>
                <select
                  id="alignment-breakpoints"
                  v-model="alignmentBreakpoint"
                  class="w-100"
                  :disabled="wrapping !== ''"
                >
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in alignmentBreakpoints"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
            </TabPane>
            <TabPane id="wrapping">
              <div class="form-group">
                <label class="form-label" for="wrapping">Wrapping</label>
                <select id="wrapping" v-model="wrapping" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in wrappingItems"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>

              <fieldset>
                <div class="form-group">
                  <legend class="sr-only">
                    Options
                  </legend>
                </div>
                <div class="checkbox-option">
                  <input
                    id="wordBreaks"
                    v-model="wordBreak"
                    type="checkbox"
                    aria-required="false"
                    aria-invalid="false"
                    :disabled="wrapping !== ''"
                  >
                  <label class="checkbox-option-label" for="wordBreaks">
                    Break work
                  </label>
                </div>
              </fieldset>
            </TabPane>
            <TabPane id="transformation">
              <div class="form-group">
                <label class="form-label" for="transform">Transform</label>
                <select id="transform" v-model="transform" class="w-100">
                  <option value="">
                    Default
                  </option>
                  <option
                    v-for="item in transforms"
                    :key="`${item}`"
                    :value="item"
                    v-text="item"
                  />
                </select>
              </div>
            </TabPane>
          </TabContent>
        </template>
      </Tabs>
    </template>
  </ComponentPreview>
</template>

<script lang="ts">
import Vue from 'vue'
import NavTabs from '../core/NavTabs.vue'
import { CodeMixin } from '~/mixins/Code'

export default Vue.extend({
  components: { NavTabs },
  mixins: [CodeMixin],
  data () {
    return {
      alignments: ['left', 'right', 'center', 'justify'],
      alignment: 'left',

      alignmentBreakpoint: 'all',
      alignmentBreakpoints: ['all', 'xs', 'sm', 'md', 'lg', 'xl'],

      wrapping: '',
      wrappingItems: ['text-wrap', 'text-nowrap', 'text-truncate'],
      wordBreak: false,
      transform: '',
      transforms: ['text-lowercase', 'text-uppercase', 'text-capitalize'],

      font: '',
      fonts: ['f-fg-book', 'f-fg-book-light', 'f-fg-med', 'f-fg-demi']
    }
  },
  computed: {
    alignmentWithBreakpoint (): string {
      if (this.alignmentBreakpoint !== 'all') {
        return `text-${this.alignmentBreakpoint}-${this.alignment}`
      }
      return `text-${this.alignment}`
    }
  }
})
</script>
