<template>
  <div class="docs">
    <SecondaryNavigation />
    <Search />
    <Header />
    <MobileNavigation />
    <Content class="">
      <Container class="docs__layout">
        <Sidebar />
        <Nuxt />
      </Container>
    </Content>
    <script
      data-main="https://d3q5dbq2rziek.cloudfront.net/2.12.1/js/main.min"
      src="https://d3q5dbq2rziek.cloudfront.net/2.12.1/lib/require.js"
    />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'DocsLayout',
  data () {
    return {}
  }
})
</script>

<style lang="sass">
$docs-width: 1600px

.docs__layout
  grid-template-areas: 'content'
  grid-template-columns: 1fr
  display: grid

  &__sidebar
    grid-area: sidebar
    display: none

  &__content
    grid-area: content
    display: grid

    grid-template-areas: 'main' 'table-of-content'
    grid-template-columns: 1fr

    &__main
      grid-area: main

    &__toc
      grid-area: table-of-content

.container,
.nav-global,
.nav-global .navbar,
.nav-secondary .navbar
  max-width: $docs-width

.top-0
  top: 0 !important

.full-viewport
  height: 100vh

.docs__full-height
  height: calc(100vh - 161px - 80px)

h2,h3,h4,h5
  .icon.icon-link
    opacity: 0
    margin: 0

    &:before
      content: "#"
      color: #d4374a
      font-size: 80%
      line-height: 80%
      margin-left: -1.25rem
      padding-right: 0.5rem
      opacity: 1

  &:hover
    .icon.icon-link
      opacity: 1

a[aria-hidden="true"]
  text-decoration: none !important

@media (min-width: 768px)
  .docs__layout__content
    grid-template-areas: 'main table-of-content'
    grid-template-columns: 4fr 1fr

@media (min-width: 979px)
  .docs__layout
    grid-template-areas: 'sidebar content'
    grid-template-columns: 1fr 5fr

    &__sidebar
      display: flex
</style>
