<template>
  <transition name="fade">
    <div
      class="d-flex align-items-center h-100 flex-column justify-content-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90"
        fill="#DBE1EC"
        viewBox="0 0 48 48"
      >
        <path
          d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
        />
      </svg>

      <div class="title" v-text="message" />
      <p v-if="statusCode === 404" class="description">
        <a v-if="typeof $route === 'undefined'" class="error-link" href="/" />
        <NuxtLink v-else class="error-link" to="/">
          Back to the home page
        </NuxtLink>
      </p>

      <p v-else class="description">
        An error occurred while rendering the page. Check developer tools
        console for details.
      </p>
    </div>
  </transition>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  computed: {
    statusCode (): number {
      return (this.error && this.error.statusCode) || 500
    },
    message (): string {
      return this.error.message || 'Error'
    }
  }
})
</script>

<style lang="sass" scoped>

.error-page
  padding: 1rem
  background: #F7F8FB
  color: #47494E
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  position: absolute
  top: 70px
  left: 300px
  right: 0
  bottom: 0

  .error
    max-width: 450px

  .title
    font-size: 1.5rem
    margin-top: 15px
    color: #47494E
    margin-bottom: 8px
</style>
