<template>
  <transition-group name="fade" tag="div" class="docs__layout__content">
    <div key="content" class="docs__layout__content__main px-4">
      <PageHeader
        key="header"
        :content="pageContent"
        :page="page"
        :section="section"
      />
      <NuxtContent key="content" :document="pageContent" class="nuxt-content" />
    </div>
    <TableOfContents
      key="toc"
      :table-of-content="pageContent.toc"
      class="px-4"
    />
  </transition-group>
</template>

<script lang="ts">
import { IContentDocument } from '@nuxt/content/types/content'
import Vue from 'vue'

export default Vue.extend({
  name: 'StandardDocLayout',
  data () {
    return {
      section: '',
      page: '',
      pageContent: {} as IContentDocument
    }
  },
  async fetch () {
    this.pageContent = (await this.$content(
      `${this.$route.params.section}/${this.$route.params.page}`
    )
      .fetch()
      .catch(() =>
        this.$nuxt.error({ statusCode: 404, message: 'Page not found' })
      )) as IContentDocument
  },
  head (): any {
    return {
      title: `${this.pageContent.title} - Public - Cardiff University`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.pageContent.description
        },
        {
          hid: 'og:title',
          property: 'og:title',
          content: this.pageContent.title
        },
        {
          hid: 'og:description',
          property: 'og:description',
          content: this.pageContent.description
        }
      ]
    }
  },
  watch: {
    pageContent () {
      this.$nextTick(() => {
        const tables = document.querySelectorAll<HTMLTableElement>(
          '.nuxt-content table'
        )

        if (tables !== null) {
          tables.forEach(table => table.classList.add('table'))
        }
      })
    }
  },
  mounted () {
    this.section = this.$route.params.section
    this.page = this.$route.params.page
  }
})
</script>
