<template>
  <div
    :class="[
      'code-block',
      `code-block--${lang}`,
      fileName ? 'code-block--file-name' : ''
    ]"
  >
    <p
      v-if="fileName"
      class="code-block__file-name border-bottom border-grey-light"
      v-text="fileName"
    />
    <code
      :id="`code-block-${id}`"
      :class="['hljs ', lang]"
      style="white-space: pre"
      v-text="internalCode"
    />
    <button
      v-if="showCode"
      :class="[
        'btn code-block__copy text-center',
        buttonText === 'Copied'
          ? 'btn-primary'
          : 'btn-link border border-grey-light'
      ]"
      @click="copyCode"
      v-text="buttonText"
    />
    <Label class="code-block__lang" colour="info" v-text="langName" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import { html, js, css } from 'js-beautify'
import { randomString } from '@/helpers/strings'

import hljs from 'highlight.js'

export default Vue.extend({
  props: {
    code: {
      type: String,
      default: ''
    },
    fileName: {
      type: String,
      default: ''
    },
    lang: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      formattedCode: '',
      id: '',
      showCode: true,
      buttonText: 'copy',
      internalCode: ''
    }
  },
  computed: {
    langName (): string {
      switch (this.lang) {
        case 'html':
          return 'HTML'
        case 'shell':
          return 'Command line'
        case 'javascript':
          return 'JS'
        case 'css':
          return 'CSS'
        case 'scss':
          return 'SCSS/SASS'
        default:
          return 'HTML'
      }
    }
  },
  watch: {
    code () {
      this.formatCode()

      this.$nextTick(() => {
        this.formatBlock(
          document.getElementById(`code-block-${this.id}`) as HTMLElement
        )
      })
    },
    lang () {
      this.formatCode()
      this.$nextTick(() => {
        this.formatBlock(
          document.getElementById(`code-block-${this.id}`) as HTMLElement
        )
      })
    }
  },
  mounted () {
    this.id = randomString()

    this.$nextTick(() => {
      this.formatBlock(
        document.getElementById(`code-block-${this.id}`) as HTMLElement
      )
    })

    this.buttonText = 'Copy'
    this.showCode = true
    this.formatCode()
  },
  methods: {
    formatBlock (elm?: HTMLElement) {
      if (elm !== undefined) {
        hljs.highlightBlock(elm)
      }
    },
    formatCode () {
      switch (this.lang) {
        case 'scss':
        case 'shell':
          this.internalCode = this.code
          break
        case 'javascript':
          this.internalCode = js(this.code)
          break
        case 'css':
          this.internalCode = css(this.code)
          break
        default:
          this.internalCode = html(this.code)
          break
      }
    },
    copyCode () {
      navigator.clipboard
        .writeText(this.code)
        .then(() => {
          this.buttonText = 'Copied'

          setTimeout(() => {
            this.buttonText = 'Copy'
          }, 1000)
        })
        .catch(() => {
          this.buttonText = 'Error'

          setTimeout(() => {
            this.buttonText = 'Copy'
          }, 1000)
        })
    }
  }
})
</script>

<style lang="sass" scoped>
.code-block
  background-color: #f6f6f6
  border-radius: 3px
  padding: 0 120px 20px 20px
  position: relative
  min-height: 100px
  margin-bottom: 20px
  word-wrap: break-word

  &__copy
    position: absolute
    width: 90px
    top: 50px
    right: 10px

  &__lang
    position: absolute
    top: 10px
    right: 10px

  &--file-name
    padding-top: 5px

    .code-block
      &__file-name
        width: calc(100% + 120px)
        margin: 0 -20px 10px
        font-size: 15px
        padding: 5px 0 10px 20px

code
  padding: 0
  color: inherit
  background-color: transparent
  border: none
  white-space: unset
  height: calc(100% - 40px)
  word-wrap: break-word

.L1, .L3, .L5, .L7, .L9
  background-color: transparent
</style>
