<template>
  <section class="colour-name">
    <div class="colour-name__preview" :style="`background-color: ${input}`" />
    <header class="px-20">
      <h1 class="text-lg">
        Name your colour
      </h1>
    </header>
    <div class="colour-name__contents">
      <Row>
        <Column md="4">
          <form action="" class="form-inline" @submit.prevent>
            <Input
              v-model="input"
              class="d-inline-flex mt-0"
              :type="'color'"
              :placeholder="'Colour hex'"
            />
            <span class="mt-0 mx-10">or </span>
            <Input v-model="input" class="mt-0" :placeholder="'Colour hex'" />
          </form>
        </Column>
        <Column md="8">
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Variable name</th>
              <th>Class name</th>
              <th>Exact match</th>
            </thead>
            <tbody v-if="hasResults">
              <td v-text="value.name || ''" />
              <td v-text="value.name ? value.variableName : '' || ''" />
              <td>
                <List no-discs class="mb-0">
                  <li
                    v-for="item in value.classNames"
                    :key="item"
                    v-text="item"
                  />
                </List>
              </td>
              <td v-text="value.exactMatch ? 'Yes' : 'Approx'" />
            </tbody>
          </table>
        </Column>
        <Column md="12">
          <transition name="fade">
            <Alert
              v-if="conflicts !== undefined && conflicts.length > 0"
              :block="true"
              colour="error"
            >
              <template v-if="conflicts.length > 1">
                <p>
                  This colour already exists, please use one of the following
                </p>
              </template>
              <template v-else>
                <p>This colour already exists, please use:</p>
              </template>
              <List class="list-no-disc">
                <li
                  v-for="conflict in conflicts"
                  :key="conflict.name"
                  v-text="conflict.name"
                />
              </List>
            </Alert>
          </transition>
        </Column>
      </Row>
    </div>
  </section>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import NameThatColour from '../../helpers/colourNames'
import { pascalCase } from '../../helpers/strings'
import { Colour, ColourItem } from '~/index'

export default Vue.extend({
  props: {
    value: {
      required: true,
      type: Object
    },
    conflicts: {
      type: Array as PropType<ColourItem[]>,
      default: []
    }
  },
  data () {
    return {
      input: '',
      hasResults: false,
      colour: {} as Colour
    }
  },
  watch: {
    input (value: string) {
      if (typeof value !== 'string') {
        return
      }

      if (!value.includes('#')) {
        this.input = `#${value}`
      }

      this.colour = NameThatColour.getName(value)
      this.colour.value = value

      if (this.colour.name !== '') {
        this.colour.variableName = `$colour${pascalCase(this.colour.name)}`
        this.colour.classNames = [
          `.bg-${this.colour.name.toLowerCase().replace(/ /, '-')}`,
          `.text-${this.colour.name.toLowerCase().replace(/ /, '-')}`,
          `.border-${this.colour.name.toLowerCase().replace(/ /, '-')}`
        ]
      }
      this.hasResults = true
      this.$emit('input', this.colour)
    }
  },
  mounted () {
    this.colour = {
      value: '',
      variableName: '',
      classNames: [],
      name: '',
      exactMatch: false
    }
    NameThatColour.init()
  }
})
</script>

<style lang="sass" scoped>
$offset-left: 165px

.colour-name
  padding: 0
  background-color: #e9e9e9
  border: 1px solid #d0d0cf
  border-radius: 5px
  margin-bottom: 20px

  &__contents
    padding: 0 20px 20px

  &__preview
    width: calc(100% + 2px)
    margin: -1px -1px 20px -1px
    height: 75px
    transition: background-color 150ms ease
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    background-color: #dddddd
</style>
