<template>
  <div
    class="colour-swatch__item"
    :style="
      `background-color: ${value}; color: ${textColour}; flex-basis: ${minWidth}px`
    "
  >
    <span class="d-block f-fg-med" v-text="name" />
    <span class="f-fg-book-light text-sm" v-text="value" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    value: {
      required: true,
      type: String
    },
    minWidth: {
      required: true,
      type: Number
    },
    name: {
      required: true,
      type: String
    },
    textColour: {
      required: false
    }
  }
})
</script>
<style lang="sass" scoped>
.colour-swatch__item
  flex: 1 1 100px
  margin: 0px
  height: 100px
  padding: 20px
  display: grid
  place-items: center
</style>
