<template>
  <div class="colour-swatchs">
    <ColourSwatch
      v-for="(item, index) in items"
      :key="item.name + index"
      :value="item.value"
      :name="item.name"
      :text-colour="item.textColour"
      :min-width="minWidth"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
  props: {
    items: {
      required: true,
      type: Array as PropType<
        { name: string; value: string; textColour?: string }[]
      >
    },
    minWidth: {
      required: false,
      type: Number,
      default: 150
    }
  }
})
</script>

<style lang="sass" scoped>
.colour-swatchs
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin-bottom: 20px
</style>
