<template>
  <Tabs>
    <template #nav>
      <div class="d-inline-block">
        <NavTabs class="d-flex-inline">
          <NavItem
            v-for="(section, index) in sections"
            :key="section.name"
            :active="index === 0"
            :text="section.name"
            :to="`#${section.name}-${id}`"
            :type="'tab'"
          />
        </NavTabs>
      </div>
    </template>
    <template #content>
      <TabContent>
        <TabPane
          v-for="(section, index) in sections"
          :id="`${section.name}-${id}`"
          :key="section.name"
          :active="index === 0"
        >
          <CodeBlock :code="section.code" :lang="section.lang" />
        </TabPane>
      </TabContent>
    </template>
  </Tabs>
</template>

<script lang="ts">
import Vue from 'vue'
import { randomString } from '@/helpers/strings'

export default Vue.extend({
  props: {
    yarn: {
      type: String,
      required: false,
      default: undefined
    },
    ssh: {
      type: String,
      required: false,
      default: undefined
    },
    npm: {
      type: String,
      required: false,
      default: undefined
    },
    https: {
      type: String,
      required: false,
      default: undefined
    }
  },
  data () {
    return {
      id: '',
      sections: [] as { name: string; code: string; lang: string }[]
    }
  },
  mounted () {
    this.id = randomString()

    if (this.yarn !== undefined) {
      this.sections.push({
        name: 'yarn',
        code: this.yarn,
        lang: 'shell'
      })
    }
    if (this.npm !== undefined) {
      this.sections.push({
        name: 'NPM',
        code: this.npm,
        lang: 'shell'
      })
    }
    if (this.ssh !== undefined) {
      this.sections.push({
        name: 'SSH',
        code: this.ssh,
        lang: 'shell'
      })
    }
    if (this.https !== undefined) {
      this.sections.push({
        name: 'HTTPS',
        code: this.https,
        lang: 'shell'
      })
    }
  }
})
</script>
