<template>
  <section class="viewer shadow position-sticky">
    <div class="row mx-0">
      <div class="col-md-8 px-0 order-2 order-lg-1">
        <div class="viewer__header">
          <h1 id="try" class="text-lg mb-0 ml-10" v-text="title" />
        </div>
        <div class="py-20 px-20">
          <slot :name="'component'" />
        </div>
      </div>
      <div class="col-md-4 px-0 order-1 order-lg-2">
        <div class="viewer__header">
          <h2 class="text-lg mb-0 ml-20">
            Options
          </h2>
          <a href="#code-example" class="py-10 px-15" data-toggle="collapse">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              viewBox="0 0 24 24"
              width="24"
            >
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path
                d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"
              />
            </svg>
            <span class="sr-only">View the code</span>
          </a>
        </div>
        <form class="form mt-20 px-20">
          <slot name="options" />
        </form>
      </div>
      <div
        id="code-example"
        class="col-md-12 order-3 collapse border-top p-0 m="
      >
        <CodeBlock :code="code" class="m-0" lang="html" />
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    code: {
      required: true,
      type: String,
      default: ''
    },
    title: {
      required: false,
      type: String,
      default: 'Try it out'
    }
  }
})
</script>

<style lang="sass" scoped>
.viewer
  min-height: 400px
  border: 1px solid #d3d3d2
  border-radius: 3px
  position: relative
  margin-bottom: 20px

  &__header
    background-color: #d3d3d2
    height: 50px
    display: flex
    align-items: center
    justify-content: space-between
</style>
