<template>
  <nav class="nav-global">
    <div class="navbar">
      <div class="nav-global-menu d-lg-none">
        <a id="openNavigation" href="#" class="nav-global-btn d-flex d-lg-none">
          <MenuIcon />
        </a>
      </div>
      <div class="nav-global-logo">
        <CUBrandSVG style="width: 50px" />
      </div>
      <div class="nav nav-global-links d-none d-lg-flex">
        <li v-for="item in pages" :key="item.path" class="nav-item">
          <NuxtLink
            :class="[
              'nav-link',
              item.items.length !== 0 ? 'with-dropdown' : null
            ]"
            :active-class="'active'"
            :to="item.path"
            v-text="item.title"
          />
          <nav v-if="item.items.length !== 0" class="nav-global-links-dropdown">
            <ul class="list list-links list-columns-5" style="">
              <li
                v-for="child in item.items"
                :key="child.path"
                class="nav-item avoid-column-break"
              >
                <NuxtLink
                  :to="child.path"
                  class="nav-link"
                  :active-class="'f-fg-med'"
                  v-text="child.title"
                />
              </li>
            </ul>
          </nav>
        </li>
      </div>
      <div class="nav-global-search ml-auto d-lg-none">
        <a
          href="#"
          data-toggle="collapse"
          data-target="#search-global"
          aria-expanded="false"
          aria-controls="search-global"
          class="collapsed"
        ><SearchSVG /></a>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'
import CUBrandSVG from '@/svgs/cardiff-university.svg?inline'
import MenuIcon from '@/svgs/menu.svg?inline'
import { SiteMapItem } from '@/index'
import SearchSVG from '@/svgs/search.svg?inline'

export default Vue.extend({
  components: { CUBrandSVG, MenuIcon, SearchSVG },
  data () {
    return {
      pages: [] as SiteMapItem[]
    }
  },
  watch: {
    $route () {
      document
        .querySelectorAll('.nav-global-links .open')
        .forEach(item => item.classList.remove('open'))
    }
  },
  mounted () {
    this.pages = [
      this.$pages['/getting-started'],
      this.$pages['/components'],
      this.$pages['/content'],
      this.$pages['/utilities'],
      this.$pages['/api']
    ]
  }
})
</script>

<style lang="sass">
$docs-width: 1600px

.container,
.nav-global,
.nav-global .navbar,
.nav-secondary .navbar
  max-width: $docs-width

.list-columns-5
  columns: 5 !important

.avoid-column-break
  -webkit-column-break-inside: avoid
  avoidpage-break-inside: avoid
  break-inside: avoid
</style>
