<template>
  <div>
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    callback: {
      type: Function,
      required: true
    }
  },
  mounted () {
    this.updateCode()
  },
  updated () {
    this.updateCode()
  },
  methods: {
    updateCode () {
      if (this.callback !== undefined) {
        const slot = this.$slots.default

        if (slot !== undefined && slot[0] !== undefined) {
          this.callback((slot[0].elm as HTMLElement).outerHTML)
        }
      }
    }
  }
})
</script>
