<template>
  <nav class="nav-global-mobile">
    <div class="nav-global-mobile-previous">
      <li
        v-for="(section, index) in siteMap"
        :key="section.title"
        :class="[
          'nav-item nav-global-mobile-section',
          section.items.length > 0 ? 'nav-item-expandable' : null
        ]"
      >
        <a
          v-if="section.items.length > 0"
          :class="[
            'nav-link',
            $route.path.indexOf(section.path) !== -1 ? 'active' : null
          ]"
          style="top: 0;"
          :href="`#doc-navigation-nav-item-${index}`"
          data-toggle="collapse"
          role="button"
        >
          <span class="" v-text="section.title" />
          <span class="flex-grow-1" />
          <ChevronUpSVG style="fill: white" />
        </a>
        <NuxtLink
          v-else
          :active-class="'active'"
          :class="['nav-link level-1']"
          :to="section.path"
          role="button"
          v-text="section.title"
        />

        <nav
          v-if="section.items.length > 0"
          :id="`doc-navigation-nav-item-${index}`"
          role="navigation"
          :class="[
            'collapse bg-white',
            $route.path.indexOf(section.path) !== -1 ? 'show' : ''
          ]"
        >
          <li
            v-for="childPage in section.items"
            :key="childPage.path"
            class="nav-item"
          >
            <NuxtLink
              :class="[
                'nav-link level-2',
                $route.path.indexOf(childPage.path) !== -1 ? 'active' : ''
              ]"
              :to="childPage.path"
              :active-class="'active'"
              v-text="childPage.title"
            />
          </li>
        </nav>
      </li>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'
import ChevronUpSVG from '@/svgs/chevron-up.svg?inline'
import { SiteMapItem } from '@/index'

export default Vue.extend({
  name: 'DocumenationLayout',
  components: { ChevronUpSVG },
  data () {
    return {
      siteMap: [] as SiteMapItem[]
    }
  },
  watch: {
    $route () {
      const classes = document.querySelectorAll('.menu-open')
      if (classes !== null) {
        classes.forEach(item => item.classList.remove('menu-open'))
      }
    }
  },
  async mounted () {
    await this.toc()
  },
  methods: {
    toc () {
      this.siteMap = [
        this.$pages['/getting-started'],
        this.$pages['/components'],
        this.$pages['/content'],
        this.$pages['/utilities'],
        this.$pages['/api']
      ]
    }
  }
})
</script>

<style lang="sass" scoped>

.docs__navigation
    flex: 1 0 auto
    flex-direction: column
    display: flex
    height: 100%
    overflow-y: auto

    &__items
      min-height: 100%
      overflow-y: auto
      width: 100%
      list-style: none

      .nav-item
        .nav-link
          font-size: 1rem
          color: #383735
          font-family: franklin_gothic_fs_medregular,Arial,"Helvetica Neue",sans-serif
          text-decoration: none

          .icon
            transition: transform 300ms ease-in-out

          &[aria-expanded="true"]
            .icon
              transform: rotate(180deg)

        .nav-item
          margin-left: 1rem

          .nav-link
            font-size: 85%
            font-family: "franklin_gothic_fs_bookRg",Arial,"Helvetica Neue",sans-serif
            color: #555

            &.active
              color: #d4374a
              font-family: franklin_gothic_fs_medregular,Arial,"Helvetica Neue",sans-serif
</style>
