<template>
  <div key="title" class="d-flex flex-column mb-20">
    <div class="d-flex align-items-center">
      <h1 class=" mb-0" v-text="content.title" />
      <span class="flex-grow-1" />
      <a
        v-if="content.external !== undefined"
        target="_blank"
        class="btn btn-info d-flex mr-15  mb-0 btn-sm"
        :href="content.external"
      >
        Read on Bootstrap</a>
      <a class="btn btn-link btn-outline d-flex  mb-0 btn-sm" :href="editURL">
        Edit on Gitlab
      </a>
    </div>
    <div class="">
      <Badge
        v-if="content.since !== undefined"
        colour="info"
        pill
        class=""
        v-text="`Added in ${content.since}`"
      />
      <Badge
        v-if="content.deprecated !== undefined"
        colour="inverse"
        pill
        class="ml-10"
        v-text="`Deprecated in ${content.deprecated}`"
      />
    </div>
    <ul
      v-if="fileList !== undefined"
      key="files"
      class="list list-horizontal pipe-separated "
    >
      <li
        v-for="file in fileList"
        :key="file.file"
        class="d-flex align-items-center"
      >
        <img
          v-if="file.logo.exists"
          class="mr-5"
          style="width: 20px"
          :src="require(`~/assets/logos/${getExt(file.file)}.png`)"
          :alt="file.file"
        >
        <FileSVG v-else />
        <small v-text="file.file" />
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import FileSVG from '@/svgs/file.svg?inline'
import { getExtension, hasLogo } from '@/helpers/file'
import { IContentDocument } from '@nuxt/content/types/content'

export default Vue.extend({
  components: { FileSVG },
  props: {
    content: {
      required: true,
      type: Object as PropType<IContentDocument>
    },
    section: {
      required: true,
      type: String
    },
    page: {
      required: true,
      type: String
    }
  },
  computed: {
    fileList (): { file: string; logo: { exists: boolean } }[] {
      if (this.content.files === undefined) {
        return []
      }

      return this.content.files.map((file) => {
        return {
          file,
          logo: {
            exists: hasLogo(file)
          }
        }
      })
    },
    editURL (): string {
      return `https://git.cardiff.ac.uk/dev-team/squiz/ui-kit-public/-/edit/master/packages/docs/content/${this.section}/${this.page}.md`
    }
  },
  methods: {
    getExt (file: string) {
      return getExtension(file)
    }
  }
})
</script>
