<template>
  <div
    id="search-global"
    ref="searchForm"
    class="search-global search-global--quick-results collapse"
    role="search"
    aria-label="Docs search"
    style=""
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 offset-lg-2 col-lg-8">
          <div class="search-form">
            <form class="mb-0" method="get" action="/search">
              <input name="collection" value="website-meta" type="hidden">
              <input name="form" value="globalsearch" type="hidden">
              <div class="d-flex">
                <div class="search-form-container">
                  <label class="search-form-label" for="query">
                    <span class="sr-only">Search the documenation</span>
                    <SearchSVG />
                  </label>
                  <input
                    id="query"
                    v-model="query"
                    type="search"
                    autofocus=""
                    class="search-form-query"
                    name="query"
                    placeholder="Search the documenation"
                    autocomplete="off"
                    @keyup="checkForEvent"
                    @click="openDialog"
                  >
                  <a
                    href="#"
                    class="search-form-clear"
                    aria-label="Clear search query"
                    @click="closeDialog"
                  >
                    <span aria-hidden="true"><CloseSVG /></span>
                  </a>
                </div>
                <input
                  type="submit"
                  class="btn btn-success d-none d-lg-block"
                  value="Search"
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <transition-group name="fade">
      <div
        v-if="showResultsDialog"
        :key="`results`"
        class="search-global__results position-absolute"
        :style="`top: ${top}px`"
      >
        <Loader v-if="searching" active small grey class="my-20" />
        <p
          v-else-if="results.length === 0"
          class="pt-20 mb-20 text-muted text-center"
        >
          No results, please try another search term.
        </p>
        <div v-else>
          <ul class="list list-no-disc mb-0">
            <li v-for="(result, index) in results" :key="result.path">
              <NuxtLink
                :ref="`searchResutItem${index}`"
                :to="result.path"
                :index="index"
                :class="[
                  'py-10 px-10 w-100 d-block  ',
                  index !== results.length - 1 ? 'border-bottom' : ''
                ]"
              >
                <span class="f-fg-med" v-text="result.title" />
                <p class="text-xs mb-5" v-text="result.description" />
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import CloseSVG from '@/svgs/close.svg?inline'
import SearchSVG from '@/svgs/search.svg?inline'

import vClickOutside from 'v-click-outside'

export default Vue.extend({
  directives: {
    clickOutside: vClickOutside.directive
  },
  components: { CloseSVG, SearchSVG },
  props: {
    noMargin: { required: false, default: false, type: Boolean },
    showSubmit: { required: false, default: false, type: Boolean },
    noBorder: { required: false, default: false, type: Boolean }
  },
  data () {
    return {
      query: '',
      results: [] as any,
      showResultsDialog: false,
      top: 0,
      searching: false
    }
  },
  watch: {
    $route () {
      document.querySelector('body')?.classList.remove('overflow-hidden')
      this.showResultsDialog = false
    },
    async query (query) {
      document.querySelector('body')?.classList.add('overflow-hidden')

      this.setOffset()

      this.showResultsDialog = true
      if (!query) {
        this.results = []
        return
      }

      this.results = await this.$content('/', { deep: true })
        .only(['title', 'path'])
        .search(query)
        .limit(10)
        .fetch()
    }
  },
  mounted () {
    const observer = new MutationObserver((mutations) => {
      mutations.forEach((mutation) => {
        let beingAdded = false
        let beingRemoved = false

        mutation.addedNodes.forEach((item) => {
          if ((item as HTMLElement).id === 'cu-cookie-alert') {
            beingAdded = true
          }
        })
        mutation.removedNodes.forEach((item) => {
          if ((item as HTMLElement).id === 'cu-cookie-alert') {
            beingRemoved = true
          }
        })

        if (beingRemoved || beingAdded) {
          console.log('dsame')
          this.setOffset()
        }
      })
    })

    const mainContentArea = document.querySelector('#__layout div')
    if (mainContentArea !== null) {
      observer.observe(mainContentArea, {
        childList: true
      })
    }
  },

  methods: {
    setOffset () {
      if (this.$refs.searchForm === undefined) {
        return
      }
      this.$nextTick(() => {
        const offsetTop = (this.$refs.searchForm as HTMLFormElement).offsetTop
        const height = (this.$refs.searchForm as HTMLFormElement).offsetHeight

        this.top = offsetTop + height
      })
    },
    openDialog () {
      if (this.query !== '') {
        this.setOffset()
        this.showResultsDialog = true
      }
    },
    closeDialog () {
      this.showResultsDialog = false
      this.results = []
    },
    checkForEvent (evt: KeyboardEvent) {
      if (evt.code !== 'ArrowDown' && evt.code !== 'Escape') {
        return
      }

      if (evt.code === 'Escape') {
        this.showResultsDialog = false
        return
      }

      if (this.results[0] !== undefined) {
        this.$nextTick(() => {
          ;(this.$refs.searchResutItem0 as any)[0].$el.focus()
        })
      }
    }
  }
})
</script>

<style lang="sass" scoped>
.search-global--quick-results

  .search-global
    &__results
      max-width: 100%
      margin: 0 auto
      width: 100%
      background-color: #22211f
      margin: 0 auto
      color: #ffffff
      z-index: 10000
      bottom: 0

      &-overlay
        position: absolute
        width: 100%
        left: 0
        background-color: rgba(0,0,0,0.4)
        z-index: 9999

      a
        color: #ffffff

        &:focus
          color: #383735
</style>
