<template>
  <div
    :class="[
      'search-form search-form--quick-results position-relative',
      showResultsDialog ? 'search-form--open' : null
    ]"
    style="max-width: 90%; width: 600px"
  >
    <form
      ref="searchForm"
      v-click-outside="closeSearch"
      :class="['form', noMargin ? 'mb-0' : '']"
      method="get"
    >
      <div class="d-flex">
        <div
          :class="['search-form-container mr-0', noBorder ? 'border-0 ' : '']"
        >
          <div class="search-form-query-container">
            <label class="search-form-label" for="query-search-form">
              <span class="sr-only">Search the docs</span>
              <SearchSVG />
            </label>
            <input
              id="query-search-form"
              v-model="query"
              type="search"
              autofocus=""
              class="search-form-query py-5"
              name="query-search-form"
              placeholder="Search the docs"
              value=""
              autocomplete="off"
              style="min-height: 40px"
              @keyup="checkForArrow"
            >
            <a
              href="#"
              class="search-form-clear"
              aria-label="Clear search query"
              @click="query = ''"
            >
              <span aria-hidden="true"><CloseSVG /></span>
            </a>
          </div>
        </div>
        <button
          v-if="showSubmit"
          type="submit"
          class="btn btn-success d-none d-lg-block col-md-2"
        >
          Search
        </button>
      </div>
    </form>
    <transition-group name="fade">
      <div
        v-if="showResultsDialog"
        :key="`results`"
        v-click-outside="closeSearch"
        class="search-form__results position-absolute"
        :style="`top: ${top}px`"
      >
        <Loader v-if="searching" active small grey class="my-20" />
        <p
          v-else-if="results.length === 0"
          class="pt-20 mb-20 text-muted text-center"
        >
          No results, please try another search term.
        </p>
        <div v-else>
          <ul class="list list-no-disc list--hoverable mb-0">
            <li v-for="(result, index) in results" :key="result.path">
              <NuxtLink
                :ref="`searchResutItem${index}`"
                :to="result.path"
                :index="index"
                :class="[
                  'py-10 px-10 w-100 d-block',
                  index !== results.length - 1 ? 'border-bottom' : ''
                ]"
              >
                <span class="f-fg-med" v-text="result.title" />
                <p class="text-xs mb-5" v-text="result.description" />
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import CloseSVG from '@/svgs/close.svg?inline'
import SearchSVG from '@/svgs/search.svg?inline'

import vClickOutside from 'v-click-outside'

export default Vue.extend({
  directives: {
    clickOutside: vClickOutside.directive
  },
  components: { CloseSVG, SearchSVG },
  props: {
    noMargin: { required: false, default: false, type: Boolean },
    showSubmit: { required: false, default: false, type: Boolean },
    noBorder: { required: false, default: false, type: Boolean }
  },
  data () {
    return {
      query: '',
      results: [] as any,
      showResultsDialog: false,
      top: 0,
      searching: false
    }
  },
  watch: {
    async query (query) {
      this.showResultsDialog = true
      if (!query) {
        this.results = []
        return
      }

      this.results = await this.$content('/', { deep: true })
        .only(['title', 'path'])
        .search(query)
        .limit(10)
        .fetch()
    }
  },

  mounted () {
    const offsetTop = (this.$refs.searchForm as HTMLFormElement).offsetTop
    const height = (this.$refs.searchForm as HTMLFormElement).offsetHeight
    const borderWidth = 2

    this.top = offsetTop + height - borderWidth
  },
  methods: {
    closeSearch () {
      this.showResultsDialog = false
      this.results = []
    },
    checkForArrow (evt: KeyboardEvent) {
      if (evt.code !== 'ArrowDown') {
        return
      }

      if (this.results[0] !== undefined) {
        this.$nextTick(() => {
          ;(this.$refs.searchResutItem0 as any)[0].$el.focus()
        })
      }
    }
  }
})
</script>

<style lang="sass" scoped>
.search-form--quick-results

  .search-form
    &__results
      max-width: 100%
      margin: 0 auto
      width: 100%
      background-color: #ffffff
      margin: 0 auto
      border: 2px solid #22211f
      z-index: 10000
      min-height: 50px
      border-top: 0
      border-radius: 4px
      border-top-left-radius: 0
      border-top-right-radius: 0

      &-overlay
        position: absolute
        width: 100%
        left: 0
        background-color: rgba(0,0,0,0.4)
        z-index: 9999

  &.search-form--open
    z-index: 10000

    .search-form-container
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      border-bottom: 0

      .search-form-query
        box-shadow: none
        z-index: 10000

.list--hoverable
  li a
    color: #383735

    &:hover,
    &:focus
      text-decoration: none
      background-color: #f6f6f6
</style>
