<template>
  <nav class="nav-secondary" aria-label="Secondary navigation">
    <div class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://www.cardiff.ac.uk"
            aria-label="Visit Cardiff University website"
          >Cardiff University</a>
        </li>

        <li class="nav-item">
          <a
            href="#"
            class="nav-link"
            data-toggle="collapse"
            data-target="#search-global"
            aria-expanded="false"
            aria-controls="search-global"
          ><span class="sr-only"> Search the docs</span>

            <SearchSVG />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue from 'vue'
import SearchSVG from '@/svgs/search.svg?inline'

export default Vue.extend({
  components: { SearchSVG }
})
</script>
