<template>
  <div class="docs__layout__content__toc  position-sticky top-0">
    <div
      v-if="tableOfContents.length > 0"
      class="card card--flat position-sticky top-0"
    >
      <div class="card__body p-0">
        <h2 class="card__title pb-5 border-bottom text-md text-grey">
          On this page
        </h2>

        <ul class="list list-links">
          <li v-for="link of tableOfContents" :key="link.id">
            <NuxtLink
              :to="`#${link.id}`"
              class="text-grey"
              v-text="link.text"
            />
            <ul v-if="link.items.length > 0" class="list">
              <li
                v-for="subLink of link.items"
                :key="subLink.id"
                class="list-style-none"
              >
                <NuxtLink
                  :to="`#${subLink.id}`"
                  class="text-grey"
                  v-text="subLink.text"
                />

                <ul v-if="subLink.items.length > 0" class=" list ">
                  <li
                    v-for="subSubLink of link.items"
                    :key="subSubLink.id"
                    class="list-style-none"
                  >
                    <NuxtLink
                      :to="`#${subSubLink.id}`"
                      class="text-grey"
                      v-text="subSubLink.text"
                    />

                    <ul v-if="subLink.items.length > 0">
                      <li
                        v-for="subSubSubLink of link.items"
                        :key="subSubSubLink.id"
                        class="list-style-none"
                      >
                        <NuxtLink
                          :to="`#${subSubSubLink.id}`"
                          class="text-grey"
                          v-text="subSubSubLink.text"
                        />
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { TableOfContentItem } from '@/index'

export default Vue.extend({
  props: {
    tableOfContent: {
      required: true,
      type: Array
    }
  },
  computed: {
    tableOfContents (): TableOfContentItem[] {
      if (this.tableOfContent === undefined) {
        return []
      }
      const toc: TableOfContentItem[] = []

      this.tableOfContent.forEach(
        (item: { id: string; text: string; depth: number }) => {
          switch (item.depth) {
            case 1:
            case 2:
              toc.push({ ...item, items: [] })
              break
            case 3:
              toc[toc.length - 1].items.push({ ...item, items: [] })
              break
            default:
              toc[toc.length - 1][
                toc[toc.length - 1].items.length - 1
              ].items.push({ ...item, items: [] })
              break
          }
        }
      )

      return toc
    }
  }
})
</script>

<style lang="sass">
.list-style-none
  list-style-type: none !important
</style>
