<template>
  <component
    :is="block ? 'div' : 'p'"
    ref="alert"
    :class="[
      !siteWide ? 'alert' : 'alert-site',
      secondary && computedColour.length == 0 ? 'alert-secondary' : null,
      computedColour,
      dismissible ? 'alert-dismissible' : null,
      fixed ? 'alert-fixed' : null,
      withIcon ? 'with-icon' : null
    ]"
  >
    <slot />
    <button v-if="dismissible" type="button" class="close" data-dismiss="alert">
      ×
    </button>
  </component>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    block: {
      required: false,
      type: Boolean,
      default: false
    },
    siteWide: {
      required: false,
      type: Boolean,
      default: false
    },
    dismissible: {
      required: false,
      type: Boolean,
      default: false
    },
    withIcon: {
      required: false,
      type: Boolean,
      default: false
    },
    fixed: {
      required: false,
      type: Boolean,
      default: false
    },
    secondary: {
      required: false,
      type: Boolean,
      default: false
    },
    colour: {
      required: false,
      type: String,
      default: 'alert-warning'
    }
  },
  computed: {
    computedColour (): string {
      if (this.secondary) {
        return `alert-secondary-${this.colour}`
      }
      return `alert-${this.colour}`
    }
  }
})
</script>
