<template>
  <component
    :is="to !== '' ? 'a' : 'span'"
    :href="to !== '' ? to : null"
    :class="[
      'badge',
      pill ? 'badge-pill' : '',
      colour !== '' ? `badge-${colour}` : '',
      outline ? `badge--outline` : null,
      large ? `badge--lg` : null
    ]"
  >
    <slot />
  </component>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

type colours =
  | 'primary'
  | 'success'
  | 'info'
  | 'warning'
  | 'danger'
  | 'inverse'
  | 'dark'
  | 'light'

export default Vue.extend({
  props: {
    pill: {
      required: false,
      type: Boolean,
      default: false
    },
    colour: {
      required: false,
      type: String as PropType<colours>,
      default: ''
    },
    to: {
      required: false,
      type: String,
      default: ''
    },
    outline: {
      required: false,
      type: Boolean,
      default: false
    },
    large: {
      required: false,
      type: Boolean,
      default: false
    }
  }
})
</script>
