<template>
  <nav class="nav-breadcrumb" aria-label="breadcrumb">
    <div class="breadcrumb-container">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ol class="breadcrumb">
              <li
                v-if="items.length > 4"
                class="breadcrumb-item d-none d-lg-block"
              >
                <RouterLink :to="'#'">
                  …
                </RouterLink>
              </li>
              <li v-if="items.length > 2" class="breadcrumb-item d-lg-none">
                <RouterLink :to="'#'">
                  …
                </RouterLink>
              </li>
              <li
                v-if="items.length > 4"
                aria-hidden="true"
                class="breadcrumb-item-separator"
              >
                <ChevronRightSVG />
              </li>
              <template v-for="(item, index) in internalItems">
                <li
                  v-if="index !== 0"
                  :key="`${index}-breadcrumb-svg`"
                  aria-hidden="true"
                  class="breadcrumb-item-separator"
                >
                  <ChevronRightSVG />
                </li>
                <li
                  :key="`${index}-breadcrumb-text`"
                  :class="[
                    'breadcrumb-item',
                    index === items.length - 1 ? 'active' : null
                  ]"
                  :aria-current="
                    index === internalItems.length - 1 ? 'page' : null
                  "
                >
                  <RouterLink
                    v-if="index !== internalItems.length - 1"
                    :to="item.url"
                    v-text="item.text"
                  />
                  <span v-else v-text="item.text" />
                </li>
              </template>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import ChevronRightSVG from '@/svgs/chevron-right.svg?inline'

export default Vue.extend({
  components: { ChevronRightSVG },
  props: {
    items: {
      type: Array as PropType<{ text: string; url: string }[]>,
      required: true
    }
  },
  computed: {
    internalItems (): { text: string; url: string }[] {
      return this.items.filter(
        (_, index): boolean =>
          (this.items.length > 4 && index > this.items.length - 4) ||
          this.items.length <= 4
      )
    }
  }
})
</script>
