<template>
  <component
    :is="tag"
    :ref="`button-${id}`"
    :href="to"
    :class="[
      'btn',
      computedColour !== '' ? computedColour : null,
      size !== '' ? `btn-${size}` : null,
      loading ? `btn--loading` : null,
      disabled ? `btn-disabled` : null,
      active ? 'active' : null
    ]"
    :disabled="disabled"
    @click="$emit('click', $event)"
  >
    <slot />
  </component>
</template>

<script lang="ts">
import Vue from 'vue'
import { randomString } from '~/helpers/strings'

export default Vue.extend({
  props: {
    colour: {
      required: false,
      type: String,
      default: ''
    },

    size: {
      required: false,
      type: String,
      default: ''
    },

    to: {
      required: false,
      type: String,
      default: '#'
    },
    tag: {
      required: false,
      type: String,
      default: 'a'
    },

    outline: {
      required: false,
      type: Boolean,
      default: false
    },
    loading: {
      required: false,
      type: Boolean,
      default: false
    },
    disabled: {
      required: false,
      type: Boolean,
      default: false
    },
    focused: {
      required: false,
      type: Boolean,
      default: false
    },
    active: {
      required: false,
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      computedColour: '',
      id: ''
    }
  },
  watch: {
    colour (val: string) {
      if (this.outline) {
        if (this.colour === '') {
          this.computedColour = 'btn-outline'
        } else {
          this.computedColour = `btn-outline-${val}`
        }
      } else if (this.colour !== '') {
        this.computedColour = `btn-${val}`
      }
    },
    outline (val: string) {
      if (this.outline) {
        if (this.colour === '') {
          this.computedColour = 'btn-outline'
        } else {
          this.computedColour = `btn-outline-${val}`
        }
      } else if (this.colour !== '') {
        this.computedColour = `btn-${val}`
      }
    },
    focused (val: boolean) {
      if (val) {
        ;(this.$refs[`button-${this.id}`] as HTMLAnchorElement).focus()
      } else {
        ;(this.$refs[`button-${this.id}`] as HTMLAnchorElement).blur()
      }
    }
  },

  mounted () {
    this.id = randomString(5)

    if (this.outline) {
      if (this.colour === '') {
        this.computedColour = 'btn-outline'
      } else {
        this.computedColour = `btn-outline-${this.colour}`
      }
    } else if (this.colour !== '') {
      this.computedColour = `btn-${this.colour}`
    }
  }
})
</script>
