<template>
  <div
    :class="!withHeadings ? 'btn-group' : 'btn-toolbar d-flex'"
    :role="!withHeadings ? 'group' : null"
    :aria-label="!withHeadings ? 'Sample aria label' : null"
  >
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    withHeading: {
      required: false,
      type: Boolean,
      default: false
    }
  }
})
</script>
