<template>
  <div
    :class="[
      cols !== undefined && cols !== '' ? `col-${cols}` : undefined,
      xs !== undefined && xs !== '' ? `col-xs-${xs}` : undefined,
      sm !== undefined && sm !== '' ? `col-sm-${sm}` : undefined,
      md !== undefined && md !== '' ? `col-md-${md}` : undefined,
      lg !== undefined && lg !== '' ? `col-lg-${lg}` : undefined,
      xl !== undefined && xl !== '' ? `col-xl-${xl}` : undefined,
      offsetCols !== undefined ? `offset-${offsetCols}` : undefined,
      offsetXs !== undefined && offsetXs !== ''
        ? `offset-xs-${offsetXs}`
        : undefined,
      offsetSm !== undefined && offsetSm !== ''
        ? `offset-sm-${offsetSm}`
        : undefined,
      offsetMd !== undefined && offsetMd !== ''
        ? `offset-md-${offsetMd}`
        : undefined,
      offsetLg !== undefined && offsetLg !== ''
        ? `offset-lg-${offsetLg}`
        : undefined,
      offsetXl !== undefined && offsetXl !== ''
        ? `offset-xl-${offsetXl}`
        : undefined
    ]"
  >
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    cols: {
      required: false,
      type: String
    },
    xs: {
      required: false,
      type: String
    },
    sm: {
      required: false,
      type: String
    },
    md: {
      required: false,
      type: String
    },
    lg: {
      required: false,
      type: String
    },
    xl: {
      required: false,
      type: String
    },
    offsetCols: {
      required: false,
      type: String
    },
    offsetXs: {
      required: false,
      type: String
    },
    offsetSm: {
      required: false,
      type: String
    },
    offsetMd: {
      required: false,
      type: String
    },
    offsetLg: {
      required: false,
      type: String
    },
    offsetXl: {
      required: false,
      type: String
    }
  }
})
</script>
