<template>
  <div :class="!fluid ? 'container' : 'container-fluid'">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    fluid: {
      required: false,
      default: false,
      type: Boolean
    }
  }
})
</script>
