<template>
  <div class="form-group">
    <input
      v-model="innerValue"
      :type="type"
      :placeholder="placeholder"
      v-bind="$attrs"
      v-on="$listeners"
    >
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    placeholder: {
      required: true,
      default: '',
      type: String
    },
    type: {
      type: String,
      default: 'text'
    },
    value: {
      required: true,
      type: String
    }
  },
  data () {
    return {
      innerValue: ''
    }
  },
  watch: {
    innerValue (value: string) {
      this.$emit('input', value)
    },
    value (value: string) {
      this.innerValue = value
      this.$emit('input', value)
    }
  },

  mounted () {
    if (this.value) {
      this.innerValue = this.value
    }
  }
})
</script>
