<template>
  <component
    :is="ordered ? 'ol' : 'ul'"
    :class="[
      'list',
      noDiscs ? 'list-no-disc' : null,
      icons ? 'list-icons' : null,
      links ? 'list-links' : null
    ]"
  >
    <slot />
  </component>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    ordered: {
      required: false,
      type: Boolean,
      default: false
    },
    noDiscs: {
      required: false,
      type: Boolean,
      default: false
    },
    icons: {
      required: false,
      type: Boolean,
      default: false
    },
    links: {
      required: false,
      type: Boolean,
      default: false
    }
  }
})
</script>
