<template>
  <li class="nav-item">
    <a
      :class="['nav-link', active ? 'active' : '']"
      :href="to"
      :data-toggle="type === 'tab' ? 'tab' : ''"
      @click="$emit('input', text)"
      v-text="text"
    />
  </li>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    to: {
      required: true,
      type: String
    },
    text: {
      required: true,
      type: String
    },
    type: {
      required: false,
      type: String,
      default: 'nav-item'
    },
    active: {
      required: false,
      type: Boolean,
      default: false
    }
  }
})
</script>
