<template>
  <component :is="block ? 'div' : 'p'" class="notice">
    <slot />
    <button v-if="dismissible" type="button" class="close" data-dismiss="alert">
      ×
    </button>
  </component>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    block: {
      required: false,
      type: Boolean,
      default: false
    },
    dismissible: {
      required: false,
      type: Boolean,
      default: false
    }
  }
})
</script>
