<template>
  <div :class="['row', noGutters ? 'no-gutters' : '']">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: {
    noGutters: {
      default: false,
      required: false,
      type: Boolean
    }
  }
})
</script>
