<template>
  <div :class="['tab-pane', active ? 'active' : '']">
    <slot />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    active: {
      required: false,
      type: Boolean,
      default: false
    }
  }
})
</script>
