<template>
  <div>
    <div :class="['tabs', slider ? 'tabs--with-slider' : null]">
      <slot name="nav" />
    </div>
    <slot name="content" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    slider: {
      required: false,
      default: true,
      type: Boolean
    }
  }
})
</script>
